h1{
	text-align: center;
}
h1{
	color: #9F171A;
}
h2{
	color: #18CAD8;
}
p{
	color: #1262CE;
}
body{
	background-color: #F7B70A;
}
img{
	width: 40%;
	border: 3px #F97969 dashed;
}
.basketballpara{
	color: red;
}