.wrapper{
	margin: 0 auto;
	max-width: 80%;
	background-color: #5E8EE3;
	padding: 20px;
	border: 3px black solid;
}
h1{
	text-align: center;
}
h1{
	color: #9F171A;
}
h2{
	color: #18CAD8;
}
p{
	color: #1262CE;
}
body{
	background-color: #F7B70A;
}
img{
	width: 40%;
	border: 3px #F97969 dashed;
}
.basketballpara{
	color: red;
}
footer{
	text-align: center;
}
section{
	margin: 10px;
	padding: 20px;
	border: 3px black solid;
	font-size: 25px;
}
.s1{ 
	background-color: #F7714D  
}
.s2
{background-color: #B1F88C  
}
.s3{
	background-color: #F7714D  
}
.s4{
	background-color: #B1F88C  
}