.wrapper{
	width: 90%;
}
p{
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
.s1{
	background-color: blue;
	display: flex;
}
.s2{
	background-color: blue;
	display: flex;
	flex-direction: row-reverse;
}
.s3{
	background-color: blue;
	display: flex;
	flex-direction: column;
}
.s4{
	background-color: blue;
	display: flex;
	flex-direction: column-reverse;
}
.s5{
	background-color: blue;
	display: flex;
	justify-content: flex-start;
}
.s6{
	background-color: blue;
	display: flex;
	justify-content: flex-end;
}
.s7{
	background-color: blue;
	display: flex;
	justify-content: center;
}
.s8{
	background-color: blue;
	display: flex;
	justify-content: space-around;
}
.s9{
	background-color: blue;
	display: flex;
	justify-content: space-between;
}
.s10{
	background-color: blue;
	display: flex;
	justify-content: space-evenly;
}
.s11{
	background-color: blue;
	display: flex;
	align-items: flex-start;
}
.s12{
	background-color: blue;
	display: flex;
	align-items: flex-end;
}
.s13{
	background-color: blue;
	display: flex;
	align-items: stretch;
}
.s14{
	background-color: blue;
	display: flex;
	align-items: baseline;
}